body {
    color: #57565B;
    background-color: #F7F9F9;
}

section[data-testid="stSidebar"] > div {
    background-color: lightgrey;
    background-image: none;
    font-color: #FFFFFF;
}

div[role="radiogroup"] > div {
    background-color: lightgrey;
    background-image: none;
    font-color: white;
}
